@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-texting: 'Poppins', sans-serif;
  
  --fc-primary: hsla(0, 0%, 98%, 1);
  --bt-color:  hsla(145, 17%, 48%, 1);  

  --fs-body: 1.6rem;

  --font-size: 62.5%;
}

body {
    background: linear-gradient(154.76deg, #628E75 3%, #1A4855 84.12%);  

    font-family: var(--ff-texting);
    font-size: var(--fs-body);
    color: var(--fc-primary);

    
}

.page {
    margin: 0 auto;
    padding: 2.5rem 10rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.6rem;

    margin: 3rem;
}

header ul {
    list-style: none;
    display: flex;
    gap: 2.6rem;
}

h3 {
    font-size: 2.0rem;
    text-align: left;

    margin-bottom: 0.6rem;
}

h1 {
    font-size: 5.6rem;
    text-transform: uppercase;
    text-align: left;
}

p {
    font-size:1.8rem;

    line-height: 2.9rem;
    letter-spacing: 0.1rem;

    
}

button {
    background-color: var(--bt-color);
    display: flex;
    align-items: center;

    text-transform: uppercase;
    color: var(--fc-primary);

    border: none;

    padding: 1.0rem;
    margin-top: 2.0rem;

}

.parallelogram{
    transform: skew(-20deg);
}

@media (min-width: 400px) {
    main {
        display: flex;
    }

    .subtitles {
        order: 1;
    }

    .image {
        order: 2;
        width: 500px;
        height: 36.9rem;
    }

    .page {
        height: 100vh;

        padding: 4.1rem 16.5rem;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    h3 {
        margin-top: 7.5rem;
    }

    p {
        letter-spacing: 0em;         
    }

    button {
        margin-top: 4.6rem;
    }

}


